################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ffs/bin/Debug/net6.0
/Ffs/obj
